.orgchart.myChart > ul > li > ul li::before {
  border-top-color: #b9181a;
}

.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: #b9181a;
}

.orgchart.myChart .oc-node .position {
  box-sizing: border-box;
  background-color: #b9181a;
  color: #fff;
  width: 100px;
  min-height: 20px;
  padding: 2px;
}
.orgchart.myChart .oc-node .position2 {
  box-sizing: border-box;
  background-color: grey;
  color: #fff;
  width: 100px;
  min-height: 20px;
  padding: 2px;
}
.orgchart.myChart .oc-node .fullname {
  box-sizing: border-box;
  color: #215a88;
  background-color: #fff;
  width: 100px;
  min-height: 30px;
  font-size: 12px;
  padding: 2px;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.orgchart ul li .oc-node {
  background-color: #b9181a;
  border-radius: 5px;
  min-width: 100px;
}
.ocultar {
  display: none !important;
}
.mostrar {
  display: block !important;
}

/*Loader grafica movil*/

.loader {
  width: 500px;
  margin: auto;
  margin-top: 30vh;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
