@import url('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

.espaciohomebanner{
    margin-top: 30px; 
}

.espacioafiliate{
    margin-top: 80px; 
    margin-bottom: 30px;
}

.chulo {
    font-size: 30px; color: #00bbc5
}

.chulo2 {
    font-size: 30px; color: red
}

.slider-box-content{
    height: 650px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.spacinh h1.title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
    line-height: 112px;
}

.spacinh p.description {
    color: #c6c9d8;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    padding: 0 16%;
    font-weight: 300;
}

.slide-btn{
    margin-top: 35px;
}

.text-right {
    text-align: right!important;
}

.text-left {
    text-align: left!important;
}

.spacinh{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}