.header-account {
  min-height: 200px;
  background-color: #801b1b;
  padding: 100px 200px;

  border-radius: 20px 20px 20px 20px;
}
.img-user {
  border: 5px solid green;
}
.titlesaccount {
  color: white !important;
}
.textcode {
  color: white !important;
}

.textpago {
  color: red !important;
}

.logosi {
  border: 5px solid green;
}
.logonopago {
  border: 5px solid red;
}
.logovencido {
  border: 5px solid orange;
}
.tarjetas {
  background-color: rgb(214, 214, 214);
  min-height: 20px;
  border-radius: 15px;
  padding: 20px 100px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px) {
  .header-account {
    padding: 0px;
  }

  .layout-cuenta-data {
    padding: 0px !important;
  }
  .layout-cuenta {
    flex-direction: column !important;
  }
}
