@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif !important;
  color: black;
}
.ant-layout-content {
  background: #fff;
  /* background: url(../images/icon-16.jpg) !important; */
  /* padding: 24px; */
  padding: 0px;
  min-height: 280px;
}
.ant-layout-footer {
  padding: 0px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: #f0f2f5;
}
.ant-menu-item {
  margin: 0 10px !important;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: #1d1d24;
}

.ant-layout-header {
  background: #efefef;
  padding: 0px 10% 0% 10%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.ant-layout-header .logo {
  width: 120px;
}
.logo img {
  width: 100px;
}
.menu-principal {
  padding-top: 1%;
  font-size: 15px;
  font-weight: 500 !important;
  color: #1d1d24;
  background: #efefef;
}

.btn-afiliate {
  font-size: 15px;
  font-weight: 500;
  height: 40px;
}

.text-center {
  text-align: center;
}

body {
  background: url(../images/icon-16.jpg) !important;
}

.btn-registro-sm {
  background-color: #f9004d;
  color: white !important;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 19px;
  border-radius: 13px;
}

.btn-registro-lg {
  font-weight: bold;
  font-size: 36px;
  padding: 16px 19px;
  height: 100%;
  padding: 10px 19px;
}

.title-312 {
  font-size: 55px;
  margin-top: 68px;
  font-weight: 600;
}
.margin_title {
  margin-bottom: 0px;
}

p.text_info {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 500;
}

span.quienes {
  vertical-align: text-bottom;
  font-weight: 600;
  font-size: 18px;
}

div.check_text {
  margin-bottom: 35px;
}
span.text_rojo {
  color: red;
  font-weight: 600;
}
span.text_rojo_title {
  color: red;
  font-weight: 700;
  font-size: 20px;
}
.logo {
  width: 100px !important;
}

#conten-bloque-line-height {
  width: 100%;
  line-height: 50px;
}

.bloque-line-height {
  display: inline-block;
  font-size: 17px;
}
.redes {
  font-weight: 600;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

.mt--20 {
  margin-top: 20px !important;
}

.imgResponsive {
  width: 100%;
  height: auto;
  max-width: 150px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .btn-registro-lg {
    font-weight: bold;
    font-size: 36px;
    padding: 16px 19px;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .btn-registro-lg {
    font-weight: bold;
    font-size: 32px;
    padding: 10px 19px;
    height: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .btn-registro-lg {
    font-weight: bold;
    font-size: 32px;
    padding: 10px 19px;
    height: 100%;
  }
}

.inlineBlock {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

.img_check {
  vertical-align: text-bottom;
  width: 30px;
}

[class*="ol_shape"] {
  position: absolute;
}

.ol_shape8 {
  top: 65%;
  left: 6%;
  max-width: 70px;
}

.ol_shape11 {
  top: 30%;
  right: 13%;
  max-width: 70px;
}

.floating_image {
  width: 100%;
}
/*
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #4CAF50;
  color: white;
}
*/
